{% for restaurant in restaurants %}
  <a href="/restaurant/{{restaurant.id}}/">
    Restaurant <i>{{restaurant.name}}</i>
  </a>
  </br>
  <a href="/restaurant/{{restaurant.id}}/menu-item/new">
    Create new Menu item for <i>{{restaurant.name}}</i>
  </a>
  </br>
  </br>
  {% for item in restaurant.items %}
    {{item.name}}
    </br>
    {{item.price}}
    </br>
    {{item.description}}
    </br>
    <a href="/restaurant/{{restaurant.id}}/menu-item/{{item.id}}/edit">Edit</a>
    </br>
    <a href="/restaurant/{{restaurant.id}}/menu-item/{{item.id}}/delete">Delete</a>
    </br>
    </br>
  {% endfor %}
{% endfor %}